# Knox Nightmare Build 42.20 shared sandbox source.
# Flat Build 42 preset syntax; target overlays replace only selected keys.
Version=6
Zombies=3
Distribution=1
ZombieVoronoiNoise=true
ZombieRespawn=3
ZombieMigrate=true
DayLength=4
StartYear=1
StartMonth=7
StartDay=9
StartTime=2
DayNightCycle=1
ClimateCycle=1
FogCycle=1
WaterShut=2
ElecShut=2
AlarmDecay=2
WaterShutModifier=14
ElecShutModifier=14
AlarmDecayModifier=14
FoodLootNew=0.45
CannedFoodLootNew=0.45
LiteratureLootNew=0.55
SurvivalGearsLootNew=0.45
MedicalLootNew=0.30
WeaponLootNew=0.35
RangedWeaponLootNew=0.18
AmmoLootNew=0.20
MechanicsLootNew=0.45
OtherLootNew=0.45
ClothingLootNew=0.55
ContainerLootNew=0.40
KeyLootNew=0.35
MementoLootNew=0.35
MediaLootNew=0.45
CookwareLootNew=0.45
MaterialLootNew=0.45
FarmingLootNew=0.45
ToolLootNew=0.35
RollsMultiplier=1.0
RemoveStoryLoot=false
RemoveZombieLoot=false
Temperature=3
Rain=3
ErosionSpeed=4
ErosionDays=0
MaxFogIntensity=1
MaxRainFxIntensity=1
EnableSnowOnGround=true
NightDarkness=1
NightLength=2
MetaEvent=3
SleepingEvent=2
Helicopter=4
Alarm=4
LockedHouses=6
StarterKit=false
Nutrition=true
FoodRotSpeed=3
FridgeFactor=3
HoursForLootRespawn=0
SeenHoursPreventLootRespawn=0
ConstructionPreventsLootRespawn=true
BloodLevel=5
DecayingCorpseHealthImpact=3
InjurySeverity=2
BoneFracture=true
ClothingDegradation=3
MultiHitZombies=false
AttackBlockMovements=true
AllClothesUnlocked=false
EnableVehicles=true
VehicleEasyUse=false
ZombieAttractionMultiplier=1.30
CarSpawnRate=2
ChanceHasGas=1
InitialGas=1
FuelStationGasInfinite=false
FuelStationGasMin=0.05
FuelStationGasMax=0.35
FuelStationGasEmptyChance=30
LockedCar=5
CarGasConsumption=1.2
CarGeneralCondition=2
CarDamageOnImpact=3
DamageToPlayerFromHitByACar=2
TrafficJam=true
CarAlarm=3
PlayerDamageFromCrash=true
Map.AllowMiniMap=false
Map.AllowWorldMap=true
Map.MapAllKnown=false
Map.MapNeedsLight=true
ZombieLore.Speed=4
ZombieLore.SprinterPercentage=4
ZombieLore.Strength=2
ZombieLore.Toughness=2
ZombieLore.Transmission=1
ZombieLore.Mortality=5
ZombieLore.Reanimate=3
ZombieLore.Cognition=3
ZombieLore.CrawlUnderVehicle=5
ZombieLore.Memory=2
ZombieLore.Sight=2
ZombieLore.Hearing=2
ZombieLore.SpottedLogic=true
ZombieLore.ThumpNoChasing=false
ZombieLore.ThumpOnConstruction=true
ZombieLore.ActiveOnly=2
ZombieLore.TriggerHouseAlarm=true
ZombieLore.ZombiesDragDown=true
ZombieLore.ZombiesCrawlersDragDown=true
ZombieLore.ZombiesFenceLunge=true
ZombieLore.DisableFakeDead=1
ZombieConfig.PopulationMultiplier=1.1
ZombieConfig.PopulationStartMultiplier=0.70
ZombieConfig.PopulationPeakMultiplier=1.5
ZombieConfig.PopulationPeakDay=21
ZombieConfig.RespawnHours=168.0
ZombieConfig.RespawnUnseenHours=48.0
ZombieConfig.RespawnMultiplier=0.10
ZombieConfig.RedistributeHours=6.0
ZombieConfig.FollowSoundDistance=225
ZombieConfig.RallyGroupSize=12
ZombieConfig.RallyGroupSizeVariance=25
ZombieConfig.RallyTravelDistance=20
ZombieConfig.RallyGroupSeparation=15
ZombieConfig.RallyGroupRadius=3
ZombieConfig.ZombiesCountBeforeDelete=300
MultiplierConfig.Global=0.90
MultiplierConfig.GlobalToggle=true
